@using CSIProductConfigurationCommon.Models;
@using CSIProductConfigurationCommon.Enums;

@model List<ConfigurationTypeParameter>

@{
    List<ConfigurationTypeParameter> sortedList = Model.OrderBy(a => a.ParameterName).ToList();
    int i = 1;
}

@foreach (ConfigurationTypeParameter item in sortedList)
{

    if (i % 2 == 1)
    {
        @Html.Raw("<div class=\"row\">")
    }

    <div class="form-group col-md-6">

        @Html.Label(item.ParameterName, new { @class = "control-label col-md-4" })

        <div class="col-md-8">

            @if (item.IsHasValues)
            {
                if (item.ParameterValues.Count > 2)
                {
                    @Html.DropDownList(item.ParameterName + "ParamDropDown", new SelectList(item.ParameterValues, "ParameterID", "Label"), "-- Please choose --", htmlAttributes: new { @class = "form-control" })
                }
                else
                {
                    <div class="btn-group-justified btn-group-toggle" data-toggle="buttons">
                        @foreach (ParameterValue paramVal in item.ParameterValues)
                        {
                            <label class="btn btn-default btn-block">
                                <input type="radio" name="@item.ParameterName" id="@paramVal.Value" autocomplete="off">@paramVal.Value
                            </label>
                        }
                    </div>
                }
            }
            else
            {
                if (item.ParameterType1 == AttributeType.IntegerType)
                {




                    
                        <div class="col-md-4">

                            @Html.Editor(item.ParameterName + "SliderBox", new { htmlAttributes = new { @class = "form-control", @value="0" } })
                        </div>

                        <div class="col-md-8">

                            <div id="@(item.ParameterName)Slider"></div>
                        </div>
                    
                }
                else
                {
                    @Html.Editor(item.ParameterName + "Editor", new { htmlAttributes = new { @class = "form-control", @id = item.ParameterName + "Editor", @data_val = "true", @data_val_required = "Gimme" } })
                    @Html.ValidationMessage(item.ParameterName + "Editor", htmlAttributes: new { @class = "text-danger" })
                }
            }
        </div>
    </div>

    if (i % 2 == 0 || (i % 2 == 1 && i == Model.Count()))
    {
        @Html.Raw("</div>")
    }

    i++;

}

