<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSI</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading panel-heading-white clearfix">

                    <div class="row">
                        <div class="col-md-2">
                            <img src="~/Images/CSI.png" />
                        </div>
                        <div class="col-md-5">
                            <h2>Power Cloud configurator - DEV</h2>
                        </div>
                        <div class="col-md-5 text-right">
                            @Html.Partial("_LoginPartial")
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>



    @RenderBody()



</body>
</html>
